@media (max-width: 1440px) {
    .container{
        margin: 0 10px;
    }
    .main{
        padding: 80px 0;
    }
}

@media (max-width: 768px) {
    .nav{
        justify-content: space-around;
    }
    .logo-name{
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }
    .change-text{
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .nav{
        height: 100px;
    }
    .logo-block{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .logo-block img{
        display: block;
        height: 90%;
    }
    .arabic-attention h2{
        font-size: 14px;
        opacity: 0;
        transition: all .5s ease;
        user-select: none;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 130px);
        gap: 10px;
    }
    .item:last-child{
        grid-column-start:initial;
        grid-column-end: initial;
    }
    .main-link{
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
    }

    .roolName{
        font-size: 20px;
    }
    .rool{
        font-size: 20px;
    }
}
@media (max-width: 360px) {
    .arabic-attention h2{
        font-size: 12px;
    }
    .isTouchP{
        font-size: 40px;
    }
}