@font-face {
    font-family: p1;
    src: url(../fonts/p1.woff2);
}

.bg-taj{
    margin-top: 15px;
}

.search{
    padding: 15px 0;
    text-align: center;
    position: relative;
    width: min-content;
    display: block;
    margin: auto;
}
.search__input{
    width: 300px;
    background-color: #202020;
    padding: 12px 40px;
    border: 1px solid #5757570c;
    border-radius: 10px;
    color: #fff;
}
.search__icon{
    position: absolute;
    width: 23px;
    height: 23px;
    opacity: .5;
    top: 25px;
    left: 12px;
}
.search__close{
    position: absolute;
    top: 25px;
    width: 23px;
    height: 23px;
    right: 15px;
    opacity: .5;
}
.search__close:hover{
    opacity: .8;
    cursor: pointer;
}
.taj-main{
    position: relative;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}
.arrUp{
    display: block;
    position: fixed;
    right: 10px;
    bottom: 0px;
}
.arrUpImg{
    display: block;
    width: 50px;
    height: 50px;
    opacity: .1;
    transition: .4s ease-in-out;
}
.arrUpImg:hover{
    opacity: 1;
}
.taj-block{
    background-color: #202020;
    width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
    border-radius: 15px;
}
.roolName{
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 15px 0;
}
.separate{
    height: 1px;
    width: 100%;
    background-color: #555555;
}
.rool{
    font-size: 24px;
    color: #fff;
    padding: 10px 35px 35px 35px;

}
.example{
    font-family: p1;
    font-size: 40px;
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}
.fsb{
    font-family: p1;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}